.controls {
  display: flex;
  margin: auto;
  width: 200px;
  justify-content: space-evenly;
}

.container {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  padding: 2rem;
  background-color: #9b111e;
  box-shadow: 5px 27px 20px 5px rgba(0, 0, 0, 0.12);
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
}
.Rest,
.Focus {
  display: flex;
  color: blue;
  padding: 20px;
}
.Rest h2,
.Focus h2 {
  font-size: 2rem;
}
